:root {
        --main-font-family: "Roboto", sans-serif;
        --secondary-font-family: "Raleway", sans-serif;
        --primary-titletxt-color:  #2E2F42;
        --secondary-titletxt-color: #FFFFFF;
        --primary-txt-color: #434455;
        --secondary-txt-color: #F4F4FD;
        --accent-hover-color: #404BBF;
        --primary-bg-color: #ffffff;
        --secondary-bg-color: #f4f4fd;
        }  

.list {list-style: none;}

.link, logo {
        text-decoration: none; 
}

.button, filter-button {
    cursor: pointer;
}

body {
        font-family: var(--main-font-family);
        color: var(--primary-txt-color);
        background-color:var(--primary-bg-color);
}

/* ================= COMPONENTS ================= */
.modal-open-btn {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        color: var(--primary-bg-color);
}

.modal-open-btn:hover,
.modal-open-btn:focus {
        background-color:var(--accent-hover-color);

}

.filter-button {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        color:color#4D5AE5;
}

/* ================= HEADER ================= */
.logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
}

.log {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--primary-titletxt-color);
}



.menu-link {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:var(--primary-titletxt-color);
}

.menu-link:hover,
.menu-link:focus {
        color:var(--accent-hover-color);
}
.contact-mail-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--primary-txt-color);
}
.contact-mail-header:hover,
.contact-mail-header:focus {
        color:var(--accent-hover-color);
}

.contact-tel-header {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-titletxt-color);
}

/* ================= HERO ================= */
.hero-title {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color:var(--primary-bg-color);
}



.qualities-title {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color:var(--primary-titletxt-color);
}
.qualities-paragraph {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:var(--primary-txt-color);
}
.our-activity-title {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--primary-titletxt-color);
}
.team {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--primary-titletxt-color);
}
.team-name {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--primary-titletxt-color);
}
.team-paragraph {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 1.5x;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--primary-txt-color);
}
.portfolio-name {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--primary-titletxt-color);
}
.portfolio-paragraph {
        font-family: 'Roboto', sans-serif;
                font-size: 16px;
                line-height: 1.5x;
                text-align: center;
                letter-spacing: 0.02em;
                color: var(--primary-txt-color);
}
/* ================= FOOTER ================= */
.footer-paragraph {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color:var(--secondary-bg-color);
}

.logos {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--secondary-bg-color);
}


