:root {
    --main-font-family: "Roboto", sans-serif;
    --secondary-font-family: "Raleway", sans-serif;
    --primary-text-color: #2e2f42
    --title-text-color: #434455
    --primary-bg-color:var(--main-font-family)#ffffff;
    --secondary-bg-color:var(--main-font-family)#f4f4fd
    --accent-color:var(--main-font-family)#4d5ae5
    --btn-hover-color:var(--main-font-family)#404bbf
}

.list {list-style: none;}
.link,
.contacts-link,
.logo .span-logo {text-decoration: none;}
.button,
.button-secondary {font-family: inherit;
    cursor: pointer;
}
body {
    font-family: var(--main-font-family);
    color: var(--title-text-color);
}